<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../static/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Train Image</title>
</head>

<body>
  <div class="md:flex md:flex-wrap h-screen">
    <div class="bg-white md:w-2/4 pb-20 md:pb-10">
      <div class="p-6">
        <img src="{{ url_for('static', filename='robot.svg') }}" alt="SVG Image" class="w-12">
      </div>
      <div class="flex flex-col items-center justify-center pt-36">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#1052EC] drop-shadow-lg">
          FACE RECOGNITION
        </h1>
        <p class="text-[#4B79EF] text-center px-4 lg:px-0 py-8 drop-shadow-md">To Train model make sure you label your
          images
          with
          respect to the
          person present
          in the
          image, Must
          Upload more than 2 images</p>
        <form class="flex flex-col justify-center px-6">
          <div class="w-full flex justify-center">
            <input type="file" id="file-upload" class="file-upload text-white bg-[#2063ED] py-4 px-4 lg:px-8 shadow-xl mt-4 rounded-full border
                text-center" onclick="selectImages()" accept="image/png, image/jpg" multiple />
          </div>
          <output></output>
          <br />
          <div class="flex justify-center">
            <button id="train-model"
              class="text-white bg-[#2063ED] py-4 px-8 shadow-xl mt-4 rounded-full border text-center">
              Train Model
            </button>
          </div>
        </form>

      </div>
      <div class="flex justify-center">
        <button id="verify-face"
          class="text-[#2063ED] bg-white py-4 px-8 shadow-xl mt-4 rounded-full border text-center">
          Verify Face
        </button>
      </div>
    </div>
    <div class="md:w-2/4 bg-[#2063EE] flex">
      <img src="{{ url_for('static', filename='hero.svg') }}" alt="SVG Image" class="max-w-full h-auto w-full">
    </div>
  </div>
</body>

</html>

<script>
  const file_upload = document.querySelector('.file-upload');
  const output = document.querySelector('output');
  const imagesArray = [];


  const selectImages = () => {
    file_upload.addEventListener("change", (e) => {
      const files = file_upload.files;
      // console.log(files[0].name)
      for (let i = 0; i < files.length; i++) {
        imagesArray.push(files[i])
      }
      displayImages();
      console.log(imagesArray)
    })
  }

  const displayImages = () => {
    let images = '';
    imagesArray.forEach((image, index) => {
      images += `<div class="image">
        <img src="${URL.createObjectURL(image)}" alt="image">
        <span onclick="deleteImage(${index})">&times;</span>
        </div>`
    })
    output.innerHTML = images

  }

  const deleteImage = (index) => {
    imagesArray.splice(index, 1);
    displayImages();
  }


  const inputFace = document.getElementById("verify-face").addEventListener('click', (e) => {
    e.preventDefault();
    window.location.href = 'http://127.0.0.1:5000/live';
  });

  document.getElementById("train-model").addEventListener("click", (e) => {
    e.preventDefault();
    sendFiles();
  });

  async function sendFiles() {
    try {
      const formData = new FormData();

      for (const file of file_upload.files) {
        formData.append("image", file);
      }
      // for (const item of formData) {
      //   console.log(item[0], item[1]);
      // }


      const resp = await fetch(
        "http://127.0.0.1:5000/upload",
        {
          method: "POST",
          body: formData
        }
      );
      const jsn = await resp.json();
      if (jsn.BaseResponse.Status) {
        Swal.fire(
          'Successful!',
          jsn.BaseResponse.Message,
          'success'
        )
      } else if (!jsn.BaseResponse.Status) {
        Swal.fire(
          'Failed!',
          jsn.BaseResponse.Message,
          'error'
        )
      } else {
        Swal.fire(
          'Ooops something went wrong!',
          jsn.BaseResponse.Message,
          'error'
        )
      }
    }
    catch (err) {
      Swal.fire(
        'Ooops something went wrong!',
        jsn.BaseResponse.Message,
        'error'
      )
    }
  };
</script>