<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../static/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Login</title>
</head>

<body>
  <div class="md:flex md:flex-wrap h-screen">
    <div class="bg-white md:w-2/4 pb-20 md:pb-10">
      <div class="p-6">
      </div>
      <div class="flex flex-col items-center justify-center pt-36">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#1052EC] drop-shadow-lg text-start">
          Sign up
        </h1>
        <p class="text-[#4B79EF] text-center px-4 lg:px-0 py-8 drop-shadow-md">Create an account with us</p>
        <form class="flex flex-col justify-center px-6">
          <label for="email" class="text-[#979DA5]">Email</label>
          <input type="email" name="" id="email" class="border-2 border-[#EBEAED] w-72 h-10 rounded mt-4 pl-2">
          <br />
          <label for="text" class="text-[#979DA5]">Name</label>
          <input type="text" name="" id="name" class="border-2 border-[#EBEAED] w-72 h-10 rounded mt-4 pl-2">
          <br />
          <label for="password" class="text-[#979DA5]">Password</label>
          <input type="password" name="" id="password" class="border-2 border-[#EBEAED] w-72 h-10 rounded mt-4 pl-2">
          <br />
          <div class="flex justify-center">
            <button id="signin"
              class="text-white bg-[#2063ED] py-4 px-8 shadow-xl mt-4 rounded-full border text-center">
              Sign up
            </button>
          </div>
        </form>

      </div>
    </div>
    <div class="md:w-2/4 bg-[#2063EE] flex">
      <img src="./../assets/login.svg" alt="SVG Image" class="max-w-full h-auto w-full">
    </div>
  </div>
</body>

</html>